body {
  border: 0;
  margin: 0;
  padding: 0;

  color: #000;
  background: #fff;

  font-family: monospace;
  font-weight:bold;
  font-size: 14px;
  line-height: 1;
}

code {
  white-space: pre;
}

footer {
  margin: 1em 0 0 22%;
}

input[type=text] {
  font-family: monospace;
  width: 1em;
  text-align: center;
  text-transform: uppercase;
}

._0{color:rgb(0,0,0)}
._1{color:rgb(0,1,0)}
._2{color:rgb(0,1,1)}
._3{color:rgb(0,2,1)}
._4{color:rgb(0,3,0)}
._5{color:rgb(0,3,1)}
._6{color:rgb(0,5,6)}
._7{color:rgb(0,6,5)}
._8{color:rgb(1,0,0)}
._9{color:rgb(1,0,1)}
._a{color:rgb(1,1,0)}
._b{color:rgb(1,1,1)}
._c{color:rgb(1,1,3)}
._d{color:rgb(1,1,6)}
._e{color:rgb(1,2,1)}
._f{color:rgb(1,2,2)}
._10{color:rgb(1,2,4)}
._11{color:rgb(1,2,6)}
._12{color:rgb(1,3,0)}
._13{color:rgb(1,3,11)}
._14{color:rgb(1,6,9)}
._15{color:rgb(1,8,8)}
._16{color:rgb(10,0,0)}
._17{color:rgb(10,0,1)}
._18{color:rgb(10,0,4)}
._19{color:rgb(10,1,1)}
._1a{color:rgb(10,1,2)}
._1b{color:rgb(10,1,3)}
._1c{color:rgb(10,10,12)}
._1d{color:rgb(10,10,13)}
._1e{color:rgb(10,11,16)}
._1f{color:rgb(10,12,18)}
._20{color:rgb(10,12,20)}
._21{color:rgb(10,14,15)}
._22{color:rgb(10,14,26)}
._23{color:rgb(10,15,17)}
._24{color:rgb(10,18,26)}
._25{color:rgb(10,2,4)}
._26{color:rgb(10,3,3)}
._27{color:rgb(10,4,5)}
._28{color:rgb(10,5,9)}
._29{color:rgb(100,12,28)}
._2a{color:rgb(100,15,29)}
._2b{color:rgb(100,16,29)}
._2c{color:rgb(100,17,31)}
._2d{color:rgb(100,18,30)}
._2e{color:rgb(101,110,117)}
._2f{color:rgb(101,12,27)}
._30{color:rgb(101,14,27)}
._31{color:rgb(101,17,30)}
._32{color:rgb(101,18,33)}
._33{color:rgb(101,32,42)}
._34{color:rgb(101,7,26)}
._35{color:rgb(102,13,29)}
._36{color:rgb(102,19,34)}
._37{color:rgb(102,31,47)}
._38{color:rgb(102,40,53)}
._39{color:rgb(103,17,30)}
._3a{color:rgb(103,17,33)}
._3b{color:rgb(103,20,35)}
._3c{color:rgb(103,29,38)}
._3d{color:rgb(104,10,27)}
._3e{color:rgb(104,18,33)}
._3f{color:rgb(104,33,41)}
._40{color:rgb(104,34,41)}
._41{color:rgb(105,114,127)}
._42{color:rgb(105,16,29)}
._43{color:rgb(105,17,33)}
._44{color:rgb(105,20,35)}
._45{color:rgb(105,25,38)}
._46{color:rgb(106,13,27)}
._47{color:rgb(106,14,29)}
._48{color:rgb(106,14,32)}
._49{color:rgb(106,19,35)}
._4a{color:rgb(106,21,35)}
._4b{color:rgb(106,99,101)}
._4c{color:rgb(107,18,35)}
._4d{color:rgb(108,108,116)}
._4e{color:rgb(108,18,28)}
._4f{color:rgb(108,18,33)}
._50{color:rgb(108,35,48)}
._51{color:rgb(108,74,82)}
._52{color:rgb(109,114,121)}
._53{color:rgb(109,21,38)}
._54{color:rgb(109,23,32)}
._55{color:rgb(109,26,40)}
._56{color:rgb(11,0,0)}
._57{color:rgb(11,0,4)}
._58{color:rgb(11,1,1)}
._59{color:rgb(11,1,3)}
._5a{color:rgb(11,11,14)}
._5b{color:rgb(11,13,14)}
._5c{color:rgb(11,15,18)}
._5d{color:rgb(11,16,22)}
._5e{color:rgb(11,19,21)}
._5f{color:rgb(11,2,3)}
._60{color:rgb(11,3,3)}
._61{color:rgb(11,3,6)}
._62{color:rgb(11,6,6)}
._63{color:rgb(11,8,13)}
._64{color:rgb(11,9,12)}
._65{color:rgb(110,109,117)}
._66{color:rgb(110,19,36)}
._67{color:rgb(110,20,32)}
._68{color:rgb(110,21,38)}
._69{color:rgb(110,23,34)}
._6a{color:rgb(111,13,26)}
._6b{color:rgb(111,16,30)}
._6c{color:rgb(111,20,28)}
._6d{color:rgb(111,20,33)}
._6e{color:rgb(111,28,38)}
._6f{color:rgb(112,113,119)}
._70{color:rgb(112,20,31)}
._71{color:rgb(113,18,33)}
._72{color:rgb(113,19,34)}
._73{color:rgb(113,21,27)}
._74{color:rgb(113,21,40)}
._75{color:rgb(113,30,34)}
._76{color:rgb(113,31,47)}
._77{color:rgb(113,34,46)}
._78{color:rgb(114,13,25)}
._79{color:rgb(114,19,33)}
._7a{color:rgb(114,27,36)}
._7b{color:rgb(114,30,46)}
._7c{color:rgb(114,30,47)}
._7d{color:rgb(114,38,46)}
._7e{color:rgb(115,16,30)}
._7f{color:rgb(115,18,28)}
._80{color:rgb(115,29,44)}
._81{color:rgb(115,45,56)}
._82{color:rgb(116,114,115)}
._83{color:rgb(116,123,129)}
._84{color:rgb(116,18,32)}
._85{color:rgb(116,18,33)}
._86{color:rgb(116,22,33)}
._87{color:rgb(116,27,38)}
._88{color:rgb(116,27,41)}
._89{color:rgb(116,40,52)}
._8a{color:rgb(117,15,29)}
._8b{color:rgb(117,21,30)}
._8c{color:rgb(117,22,34)}
._8d{color:rgb(117,23,34)}
._8e{color:rgb(117,26,36)}
._8f{color:rgb(118,15,25)}
._90{color:rgb(118,17,32)}
._91{color:rgb(118,19,26)}
._92{color:rgb(118,22,35)}
._93{color:rgb(118,28,38)}
._94{color:rgb(118,33,42)}
._95{color:rgb(119,118,120)}
._96{color:rgb(119,17,24)}
._97{color:rgb(119,19,33)}
._98{color:rgb(119,24,44)}
._99{color:rgb(12,0,0)}
._9a{color:rgb(12,0,2)}
._9b{color:rgb(12,12,16)}
._9c{color:rgb(12,13,20)}
._9d{color:rgb(12,14,14)}
._9e{color:rgb(12,14,16)}
._9f{color:rgb(12,14,19)}
._a0{color:rgb(12,15,23)}
._a1{color:rgb(12,16,19)}
._a2{color:rgb(12,17,26)}
._a3{color:rgb(12,2,3)}
._a4{color:rgb(12,2,5)}
._a5{color:rgb(12,27,34)}
._a6{color:rgb(12,3,5)}
._a7{color:rgb(12,4,4)}
._a8{color:rgb(120,16,31)}
._a9{color:rgb(120,23,37)}
._aa{color:rgb(120,24,35)}
._ab{color:rgb(120,29,39)}
._ac{color:rgb(120,31,39)}
._ad{color:rgb(121,122,127)}
._ae{color:rgb(121,21,35)}
._af{color:rgb(121,21,37)}
._b0{color:rgb(121,23,36)}
._b1{color:rgb(121,24,36)}
._b2{color:rgb(121,27,32)}
._b3{color:rgb(121,28,41)}
._b4{color:rgb(121,30,36)}
._b5{color:rgb(121,32,41)}
._b6{color:rgb(122,20,33)}
._b7{color:rgb(122,22,32)}
._b8{color:rgb(122,24,39)}
._b9{color:rgb(122,30,40)}
._ba{color:rgb(123,21,35)}
._bb{color:rgb(123,24,33)}
._bc{color:rgb(123,25,40)}
._bd{color:rgb(123,26,36)}
._be{color:rgb(123,31,45)}
._bf{color:rgb(123,33,42)}
._c0{color:rgb(123,34,47)}
._c1{color:rgb(124,21,36)}
._c2{color:rgb(124,23,37)}
._c3{color:rgb(124,24,42)}
._c4{color:rgb(124,37,59)}
._c5{color:rgb(125,21,26)}
._c6{color:rgb(125,22,35)}
._c7{color:rgb(125,33,48)}
._c8{color:rgb(126,126,126)}
._c9{color:rgb(126,22,35)}
._ca{color:rgb(126,23,41)}
._cb{color:rgb(126,25,39)}
._cc{color:rgb(126,31,43)}
._cd{color:rgb(126,45,54)}
._ce{color:rgb(127,16,32)}
._cf{color:rgb(127,19,38)}
._d0{color:rgb(127,24,37)}
._d1{color:rgb(127,28,39)}
._d2{color:rgb(127,31,40)}
._d3{color:rgb(127,35,46)}
._d4{color:rgb(128,17,35)}
._d5{color:rgb(128,22,40)}
._d6{color:rgb(128,24,36)}
._d7{color:rgb(128,26,35)}
._d8{color:rgb(129,13,31)}
._d9{color:rgb(129,23,39)}
._da{color:rgb(129,32,41)}
._db{color:rgb(129,37,50)}
._dc{color:rgb(129,55,72)}
._dd{color:rgb(13,10,23)}
._de{color:rgb(13,12,14)}
._df{color:rgb(13,15,24)}
._e0{color:rgb(13,17,21)}
._e1{color:rgb(13,18,21)}
._e2{color:rgb(13,19,27)}
._e3{color:rgb(13,2,2)}
._e4{color:rgb(13,2,3)}
._e5{color:rgb(13,2,4)}
._e6{color:rgb(13,20,22)}
._e7{color:rgb(13,20,28)}
._e8{color:rgb(13,21,27)}
._e9{color:rgb(13,24,27)}
._ea{color:rgb(13,27,29)}
._eb{color:rgb(13,3,4)}
._ec{color:rgb(130,132,137)}
._ed{color:rgb(130,25,32)}
._ee{color:rgb(130,25,36)}
._ef{color:rgb(130,25,40)}
._f0{color:rgb(130,26,40)}
._f1{color:rgb(130,28,42)}
._f2{color:rgb(130,29,44)}
._f3{color:rgb(131,136,144)}
._f4{color:rgb(131,27,45)}
._f5{color:rgb(131,30,41)}
._f6{color:rgb(131,37,45)}
._f7{color:rgb(131,41,54)}
._f8{color:rgb(132,138,151)}
._f9{color:rgb(132,21,34)}
._fa{color:rgb(132,24,40)}
._fb{color:rgb(132,24,43)}
._fc{color:rgb(132,25,39)}
._fd{color:rgb(132,27,44)}
._fe{color:rgb(132,34,58)}
._ff{color:rgb(133,22,33)}
._100{color:rgb(133,24,38)}
._101{color:rgb(133,24,39)}
._102{color:rgb(133,37,47)}
._103{color:rgb(134,20,39)}
._104{color:rgb(134,22,36)}
._105{color:rgb(134,26,44)}
._106{color:rgb(134,29,42)}
._107{color:rgb(135,135,135)}
._108{color:rgb(135,135,141)}
._109{color:rgb(135,24,40)}
._10a{color:rgb(136,22,39)}
._10b{color:rgb(136,25,41)}
._10c{color:rgb(136,26,40)}
._10d{color:rgb(136,27,34)}
._10e{color:rgb(136,28,52)}
._10f{color:rgb(136,30,41)}
._110{color:rgb(136,32,47)}
._111{color:rgb(137,27,46)}
._112{color:rgb(137,28,46)}
._113{color:rgb(137,32,51)}
._114{color:rgb(137,35,50)}
._115{color:rgb(137,38,46)}
._116{color:rgb(137,54,61)}
._117{color:rgb(138,138,140)}
._118{color:rgb(138,23,42)}
._119{color:rgb(138,31,43)}
._11a{color:rgb(139,27,39)}
._11b{color:rgb(139,28,45)}
._11c{color:rgb(139,28,52)}
._11d{color:rgb(139,31,41)}
._11e{color:rgb(139,31,46)}
._11f{color:rgb(139,32,42)}
._120{color:rgb(14,1,0)}
._121{color:rgb(14,14,18)}
._122{color:rgb(14,15,18)}
._123{color:rgb(14,16,25)}
._124{color:rgb(14,17,25)}
._125{color:rgb(14,18,30)}
._126{color:rgb(14,19,23)}
._127{color:rgb(14,19,24)}
._128{color:rgb(14,2,3)}
._129{color:rgb(14,2,4)}
._12a{color:rgb(14,28,31)}
._12b{color:rgb(14,8,15)}
._12c{color:rgb(140,27,40)}
._12d{color:rgb(140,32,44)}
._12e{color:rgb(141,146,151)}
._12f{color:rgb(141,27,34)}
._130{color:rgb(141,28,44)}
._131{color:rgb(141,32,50)}
._132{color:rgb(141,37,50)}
._133{color:rgb(141,45,59)}
._134{color:rgb(142,21,39)}
._135{color:rgb(142,27,37)}
._136{color:rgb(142,27,38)}
._137{color:rgb(142,35,47)}
._138{color:rgb(142,36,51)}
._139{color:rgb(142,53,69)}
._13a{color:rgb(142,72,84)}
._13b{color:rgb(143,22,41)}
._13c{color:rgb(143,29,46)}
._13d{color:rgb(143,34,50)}
._13e{color:rgb(143,47,58)}
._13f{color:rgb(143,60,79)}
._140{color:rgb(144,25,37)}
._141{color:rgb(144,25,40)}
._142{color:rgb(144,27,45)}
._143{color:rgb(144,29,46)}
._144{color:rgb(144,30,45)}
._145{color:rgb(144,32,46)}
._146{color:rgb(144,38,52)}
._147{color:rgb(145,107,112)}
._148{color:rgb(145,149,153)}
._149{color:rgb(145,25,37)}
._14a{color:rgb(145,82,91)}
._14b{color:rgb(146,29,43)}
._14c{color:rgb(146,30,42)}
._14d{color:rgb(146,31,50)}
._14e{color:rgb(146,33,49)}
._14f{color:rgb(146,34,46)}
._150{color:rgb(146,34,48)}
._151{color:rgb(146,35,51)}
._152{color:rgb(147,130,133)}
._153{color:rgb(147,153,163)}
._154{color:rgb(147,29,47)}
._155{color:rgb(147,29,49)}
._156{color:rgb(147,30,46)}
._157{color:rgb(148,104,112)}
._158{color:rgb(148,155,162)}
._159{color:rgb(148,26,45)}
._15a{color:rgb(148,38,43)}
._15b{color:rgb(148,50,62)}
._15c{color:rgb(149,24,50)}
._15d{color:rgb(149,30,49)}
._15e{color:rgb(149,31,44)}
._15f{color:rgb(149,33,48)}
._160{color:rgb(149,34,47)}
._161{color:rgb(15,1,1)}
._162{color:rgb(15,1,4)}
._163{color:rgb(15,14,20)}
._164{color:rgb(15,17,23)}
._165{color:rgb(15,18,22)}
._166{color:rgb(15,2,6)}
._167{color:rgb(15,21,33)}
._168{color:rgb(15,22,30)}
._169{color:rgb(15,24,33)}
._16a{color:rgb(15,28,32)}
._16b{color:rgb(15,3,5)}
._16c{color:rgb(150,22,39)}
._16d{color:rgb(150,35,47)}
._16e{color:rgb(150,35,48)}
._16f{color:rgb(150,37,53)}
._170{color:rgb(151,26,46)}
._171{color:rgb(151,28,43)}
._172{color:rgb(151,28,47)}
._173{color:rgb(151,31,50)}
._174{color:rgb(151,32,50)}
._175{color:rgb(151,35,48)}
._176{color:rgb(151,35,55)}
._177{color:rgb(151,38,58)}
._178{color:rgb(151,39,47)}
._179{color:rgb(151,40,50)}
._17a{color:rgb(151,49,62)}
._17b{color:rgb(152,31,42)}
._17c{color:rgb(153,21,42)}
._17d{color:rgb(153,23,47)}
._17e{color:rgb(153,30,50)}
._17f{color:rgb(153,37,47)}
._180{color:rgb(153,37,52)}
._181{color:rgb(153,40,60)}
._182{color:rgb(153,47,65)}
._183{color:rgb(154,25,52)}
._184{color:rgb(154,29,46)}
._185{color:rgb(154,34,49)}
._186{color:rgb(154,34,51)}
._187{color:rgb(154,36,55)}
._188{color:rgb(155,29,42)}
._189{color:rgb(155,30,51)}
._18a{color:rgb(155,34,45)}
._18b{color:rgb(155,44,65)}
._18c{color:rgb(155,59,72)}
._18d{color:rgb(156,30,44)}
._18e{color:rgb(156,33,53)}
._18f{color:rgb(156,45,58)}
._190{color:rgb(156,48,71)}
._191{color:rgb(156,50,59)}
._192{color:rgb(157,28,38)}
._193{color:rgb(157,29,43)}
._194{color:rgb(157,33,48)}
._195{color:rgb(157,44,64)}
._196{color:rgb(158,32,49)}
._197{color:rgb(158,33,46)}
._198{color:rgb(158,33,53)}
._199{color:rgb(158,44,72)}
._19a{color:rgb(159,26,53)}
._19b{color:rgb(159,32,47)}
._19c{color:rgb(159,33,52)}
._19d{color:rgb(159,36,49)}
._19e{color:rgb(159,39,55)}
._19f{color:rgb(16,0,1)}
._1a0{color:rgb(16,0,3)}
._1a1{color:rgb(16,1,4)}
._1a2{color:rgb(16,1,5)}
._1a3{color:rgb(16,13,18)}
._1a4{color:rgb(16,16,18)}
._1a5{color:rgb(16,17,24)}
._1a6{color:rgb(16,19,26)}
._1a7{color:rgb(16,2,3)}
._1a8{color:rgb(16,20,32)}
._1a9{color:rgb(16,21,25)}
._1aa{color:rgb(16,21,27)}
._1ab{color:rgb(16,21,29)}
._1ac{color:rgb(16,22,24)}
._1ad{color:rgb(16,22,28)}
._1ae{color:rgb(16,22,30)}
._1af{color:rgb(16,23,25)}
._1b0{color:rgb(16,23,31)}
._1b1{color:rgb(16,24,33)}
._1b2{color:rgb(16,25,32)}
._1b3{color:rgb(16,27,30)}
._1b4{color:rgb(16,3,6)}
._1b5{color:rgb(16,4,6)}
._1b6{color:rgb(160,30,43)}
._1b7{color:rgb(160,34,60)}
._1b8{color:rgb(160,35,46)}
._1b9{color:rgb(160,39,50)}
._1ba{color:rgb(161,30,56)}
._1bb{color:rgb(161,31,51)}
._1bc{color:rgb(161,33,44)}
._1bd{color:rgb(161,40,59)}
._1be{color:rgb(162,166,171)}
._1bf{color:rgb(162,26,45)}
._1c0{color:rgb(162,27,46)}
._1c1{color:rgb(162,29,43)}
._1c2{color:rgb(162,30,47)}
._1c3{color:rgb(162,31,49)}
._1c4{color:rgb(162,34,53)}
._1c5{color:rgb(162,49,61)}
._1c6{color:rgb(162,58,67)}
._1c7{color:rgb(163,29,48)}
._1c8{color:rgb(163,35,54)}
._1c9{color:rgb(163,43,58)}
._1ca{color:rgb(163,48,60)}
._1cb{color:rgb(163,50,60)}
._1cc{color:rgb(164,37,58)}
._1cd{color:rgb(165,32,52)}
._1ce{color:rgb(165,34,57)}
._1cf{color:rgb(165,37,54)}
._1d0{color:rgb(166,169,173)}
._1d1{color:rgb(166,26,53)}
._1d2{color:rgb(166,30,48)}
._1d3{color:rgb(166,33,50)}
._1d4{color:rgb(166,42,55)}
._1d5{color:rgb(167,33,55)}
._1d6{color:rgb(167,34,49)}
._1d7{color:rgb(167,36,52)}
._1d8{color:rgb(167,42,59)}
._1d9{color:rgb(167,55,66)}
._1da{color:rgb(168,30,46)}
._1db{color:rgb(168,32,48)}
._1dc{color:rgb(168,37,51)}
._1dd{color:rgb(169,36,56)}
._1de{color:rgb(169,38,55)}
._1df{color:rgb(169,41,61)}
._1e0{color:rgb(169,57,68)}
._1e1{color:rgb(17,1,4)}
._1e2{color:rgb(17,17,23)}
._1e3{color:rgb(17,19,23)}
._1e4{color:rgb(17,21,31)}
._1e5{color:rgb(17,24,28)}
._1e6{color:rgb(17,24,33)}
._1e7{color:rgb(17,26,33)}
._1e8{color:rgb(170,29,58)}
._1e9{color:rgb(170,62,82)}
._1ea{color:rgb(171,26,43)}
._1eb{color:rgb(171,34,47)}
._1ec{color:rgb(171,36,54)}
._1ed{color:rgb(171,57,64)}
._1ee{color:rgb(172,53,66)}
._1ef{color:rgb(173,29,53)}
._1f0{color:rgb(173,34,51)}
._1f1{color:rgb(173,35,50)}
._1f2{color:rgb(173,59,70)}
._1f3{color:rgb(173,67,76)}
._1f4{color:rgb(174,23,45)}
._1f5{color:rgb(174,33,58)}
._1f6{color:rgb(174,62,72)}
._1f7{color:rgb(175,40,59)}
._1f8{color:rgb(176,51,69)}
._1f9{color:rgb(177,33,51)}
._1fa{color:rgb(178,30,45)}
._1fb{color:rgb(178,37,53)}
._1fc{color:rgb(178,49,72)}
._1fd{color:rgb(179,178,183)}
._1fe{color:rgb(179,183,187)}
._1ff{color:rgb(18,0,1)}
._200{color:rgb(18,19,27)}
._201{color:rgb(18,2,3)}
._202{color:rgb(18,2,5)}
._203{color:rgb(18,2,6)}
._204{color:rgb(18,20,28)}
._205{color:rgb(18,22,30)}
._206{color:rgb(18,22,32)}
._207{color:rgb(18,23,30)}
._208{color:rgb(18,23,33)}
._209{color:rgb(18,24,30)}
._20a{color:rgb(18,24,32)}
._20b{color:rgb(18,24,33)}
._20c{color:rgb(18,27,36)}
._20d{color:rgb(18,28,37)}
._20e{color:rgb(18,3,4)}
._20f{color:rgb(18,3,6)}
._210{color:rgb(18,6,4)}
._211{color:rgb(18,8,16)}
._212{color:rgb(180,64,73)}
._213{color:rgb(181,184,188)}
._214{color:rgb(185,74,86)}
._215{color:rgb(187,155,161)}
._216{color:rgb(188,184,186)}
._217{color:rgb(19,10,15)}
._218{color:rgb(19,2,4)}
._219{color:rgb(19,21,20)}
._21a{color:rgb(19,23,33)}
._21b{color:rgb(19,24,34)}
._21c{color:rgb(19,25,25)}
._21d{color:rgb(19,25,33)}
._21e{color:rgb(19,26,32)}
._21f{color:rgb(19,26,34)}
._220{color:rgb(19,27,37)}
._221{color:rgb(19,28,35)}
._222{color:rgb(19,3,6)}
._223{color:rgb(19,5,8)}
._224{color:rgb(19,6,10)}
._225{color:rgb(19,9,9)}
._226{color:rgb(191,164,162)}
._227{color:rgb(192,83,94)}
._228{color:rgb(193,35,62)}
._229{color:rgb(194,59,83)}
._22a{color:rgb(195,195,195)}
._22b{color:rgb(197,193,194)}
._22c{color:rgb(197,57,74)}
._22d{color:rgb(2,0,0)}
._22e{color:rgb(2,0,1)}
._22f{color:rgb(2,0,2)}
._230{color:rgb(2,0,3)}
._231{color:rgb(2,0,4)}
._232{color:rgb(2,1,0)}
._233{color:rgb(2,1,1)}
._234{color:rgb(2,1,2)}
._235{color:rgb(2,1,4)}
._236{color:rgb(2,2,2)}
._237{color:rgb(2,2,4)}
._238{color:rgb(2,2,6)}
._239{color:rgb(2,3,5)}
._23a{color:rgb(2,3,6)}
._23b{color:rgb(2,3,7)}
._23c{color:rgb(2,4,3)}
._23d{color:rgb(2,4,9)}
._23e{color:rgb(2,5,4)}
._23f{color:rgb(2,7,15)}
._240{color:rgb(2,8,17)}
._241{color:rgb(20,0,3)}
._242{color:rgb(20,1,2)}
._243{color:rgb(20,1,4)}
._244{color:rgb(20,11,19)}
._245{color:rgb(20,21,27)}
._246{color:rgb(20,21,28)}
._247{color:rgb(20,24,31)}
._248{color:rgb(20,24,32)}
._249{color:rgb(20,24,37)}
._24a{color:rgb(20,26,35)}
._24b{color:rgb(20,26,36)}
._24c{color:rgb(20,27,33)}
._24d{color:rgb(20,27,35)}
._24e{color:rgb(20,27,36)}
._24f{color:rgb(20,28,37)}
._250{color:rgb(20,29,38)}
._251{color:rgb(20,3,3)}
._252{color:rgb(200,130,143)}
._253{color:rgb(203,203,203)}
._254{color:rgb(205,208,211)}
._255{color:rgb(207,181,187)}
._256{color:rgb(207,200,203)}
._257{color:rgb(208,208,208)}
._258{color:rgb(208,212,216)}
._259{color:rgb(209,168,181)}
._25a{color:rgb(21,1,3)}
._25b{color:rgb(21,17,17)}
._25c{color:rgb(21,21,29)}
._25d{color:rgb(21,25,29)}
._25e{color:rgb(21,25,37)}
._25f{color:rgb(21,28,36)}
._260{color:rgb(21,28,38)}
._261{color:rgb(21,29,42)}
._262{color:rgb(21,30,38)}
._263{color:rgb(21,30,39)}
._264{color:rgb(21,30,40)}
._265{color:rgb(21,31,40)}
._266{color:rgb(21,4,4)}
._267{color:rgb(21,4,8)}
._268{color:rgb(21,8,12)}
._269{color:rgb(211,215,220)}
._26a{color:rgb(218,225,229)}
._26b{color:rgb(219,192,194)}
._26c{color:rgb(22,1,7)}
._26d{color:rgb(22,11,14)}
._26e{color:rgb(22,2,4)}
._26f{color:rgb(22,20,26)}
._270{color:rgb(22,24,40)}
._271{color:rgb(22,27,36)}
._272{color:rgb(22,28,34)}
._273{color:rgb(22,3,5)}
._274{color:rgb(22,30,34)}
._275{color:rgb(22,31,39)}
._276{color:rgb(22,31,40)}
._277{color:rgb(22,4,5)}
._278{color:rgb(22,6,7)}
._279{color:rgb(220,219,221)}
._27a{color:rgb(221,165,176)}
._27b{color:rgb(222,165,172)}
._27c{color:rgb(225,194,198)}
._27d{color:rgb(227,230,231)}
._27e{color:rgb(228,225,225)}
._27f{color:rgb(229,233,236)}
._280{color:rgb(23,0,2)}
._281{color:rgb(23,1,2)}
._282{color:rgb(23,19,22)}
._283{color:rgb(23,26,36)}
._284{color:rgb(23,28,35)}
._285{color:rgb(23,28,37)}
._286{color:rgb(23,29,38)}
._287{color:rgb(23,29,39)}
._288{color:rgb(23,3,5)}
._289{color:rgb(23,3,7)}
._28a{color:rgb(23,30,37)}
._28b{color:rgb(23,30,38)}
._28c{color:rgb(23,30,40)}
._28d{color:rgb(23,30,41)}
._28e{color:rgb(23,31,39)}
._28f{color:rgb(23,32,41)}
._290{color:rgb(23,34,42)}
._291{color:rgb(23,4,4)}
._292{color:rgb(23,4,6)}
._293{color:rgb(23,4,9)}
._294{color:rgb(231,230,234)}
._295{color:rgb(231,237,239)}
._296{color:rgb(235,239,240)}
._297{color:rgb(235,240,243)}
._298{color:rgb(237,205,212)}
._299{color:rgb(238,224,230)}
._29a{color:rgb(239,224,226)}
._29b{color:rgb(24,15,17)}
._29c{color:rgb(24,16,24)}
._29d{color:rgb(24,2,8)}
._29e{color:rgb(24,23,30)}
._29f{color:rgb(24,24,32)}
._2a0{color:rgb(24,3,4)}
._2a1{color:rgb(24,31,38)}
._2a2{color:rgb(24,31,39)}
._2a3{color:rgb(24,33,42)}
._2a4{color:rgb(24,35,41)}
._2a5{color:rgb(24,35,44)}
._2a6{color:rgb(24,45,44)}
._2a7{color:rgb(241,245,249)}
._2a8{color:rgb(242,243,242)}
._2a9{color:rgb(242,245,247)}
._2aa{color:rgb(243,245,248)}
._2ab{color:rgb(245,245,247)}
._2ac{color:rgb(246,239,237)}
._2ad{color:rgb(246,248,250)}
._2ae{color:rgb(246,250,249)}
._2af{color:rgb(246,252,252)}
._2b0{color:rgb(246,253,251)}
._2b1{color:rgb(246,255,251)}
._2b2{color:rgb(247,213,220)}
._2b3{color:rgb(247,231,230)}
._2b4{color:rgb(247,251,253)}
._2b5{color:rgb(247,253,250)}
._2b6{color:rgb(247,254,250)}
._2b7{color:rgb(247,254,253)}
._2b8{color:rgb(248,248,246)}
._2b9{color:rgb(248,248,249)}
._2ba{color:rgb(248,252,251)}
._2bb{color:rgb(248,253,252)}
._2bc{color:rgb(248,254,252)}
._2bd{color:rgb(249,249,249)}
._2be{color:rgb(249,249,250)}
._2bf{color:rgb(249,251,250)}
._2c0{color:rgb(249,251,251)}
._2c1{color:rgb(249,251,254)}
._2c2{color:rgb(249,252,254)}
._2c3{color:rgb(249,254,252)}
._2c4{color:rgb(249,254,253)}
._2c5{color:rgb(25,1,6)}
._2c6{color:rgb(25,17,24)}
._2c7{color:rgb(25,26,38)}
._2c8{color:rgb(25,28,33)}
._2c9{color:rgb(25,29,33)}
._2ca{color:rgb(25,3,6)}
._2cb{color:rgb(25,31,39)}
._2cc{color:rgb(25,32,40)}
._2cd{color:rgb(25,32,42)}
._2ce{color:rgb(25,33,41)}
._2cf{color:rgb(25,38,47)}
._2d0{color:rgb(25,5,11)}
._2d1{color:rgb(25,5,7)}
._2d2{color:rgb(25,5,8)}
._2d3{color:rgb(25,6,6)}
._2d4{color:rgb(250,250,250)}
._2d5{color:rgb(250,251,251)}
._2d6{color:rgb(250,251,252)}
._2d7{color:rgb(250,251,254)}
._2d8{color:rgb(250,252,251)}
._2d9{color:rgb(250,252,252)}
._2da{color:rgb(250,252,253)}
._2db{color:rgb(250,253,252)}
._2dc{color:rgb(250,253,254)}
._2dd{color:rgb(250,254,252)}
._2de{color:rgb(250,254,253)}
._2df{color:rgb(251,250,249)}
._2e0{color:rgb(251,250,250)}
._2e1{color:rgb(251,250,251)}
._2e2{color:rgb(251,250,252)}
._2e3{color:rgb(251,250,253)}
._2e4{color:rgb(251,251,249)}
._2e5{color:rgb(251,251,251)}
._2e6{color:rgb(251,251,252)}
._2e7{color:rgb(251,252,251)}
._2e8{color:rgb(251,252,252)}
._2e9{color:rgb(251,252,253)}
._2ea{color:rgb(251,252,254)}
._2eb{color:rgb(251,253,250)}
._2ec{color:rgb(251,253,251)}
._2ed{color:rgb(251,253,252)}
._2ee{color:rgb(251,253,253)}
._2ef{color:rgb(251,253,254)}
._2f0{color:rgb(251,254,251)}
._2f1{color:rgb(251,254,253)}
._2f2{color:rgb(251,254,254)}
._2f3{color:rgb(252,248,249)}
._2f4{color:rgb(252,249,251)}
._2f5{color:rgb(252,250,250)}
._2f6{color:rgb(252,250,251)}
._2f7{color:rgb(252,251,251)}
._2f8{color:rgb(252,251,252)}
._2f9{color:rgb(252,251,253)}
._2fa{color:rgb(252,252,250)}
._2fb{color:rgb(252,252,251)}
._2fc{color:rgb(252,252,252)}
._2fd{color:rgb(252,252,253)}
._2fe{color:rgb(252,252,254)}
._2ff{color:rgb(252,252,255)}
._300{color:rgb(252,253,249)}
._301{color:rgb(252,253,250)}
._302{color:rgb(252,253,251)}
._303{color:rgb(252,253,252)}
._304{color:rgb(252,253,253)}
._305{color:rgb(252,253,254)}
._306{color:rgb(252,253,255)}
._307{color:rgb(252,254,253)}
._308{color:rgb(252,254,254)}
._309{color:rgb(253,249,251)}
._30a{color:rgb(253,250,251)}
._30b{color:rgb(253,250,252)}
._30c{color:rgb(253,250,254)}
._30d{color:rgb(253,251,252)}
._30e{color:rgb(253,251,253)}
._30f{color:rgb(253,252,250)}
._310{color:rgb(253,252,251)}
._311{color:rgb(253,252,252)}
._312{color:rgb(253,252,253)}
._313{color:rgb(253,252,254)}
._314{color:rgb(253,252,255)}
._315{color:rgb(253,253,251)}
._316{color:rgb(253,253,252)}
._317{color:rgb(253,253,253)}
._318{color:rgb(253,253,254)}
._319{color:rgb(253,253,255)}
._31a{color:rgb(253,254,249)}
._31b{color:rgb(253,254,251)}
._31c{color:rgb(253,254,252)}
._31d{color:rgb(253,254,253)}
._31e{color:rgb(254,246,247)}
._31f{color:rgb(254,246,250)}
._320{color:rgb(254,248,250)}
._321{color:rgb(254,248,254)}
._322{color:rgb(254,249,253)}
._323{color:rgb(254,250,254)}
._324{color:rgb(254,251,251)}
._325{color:rgb(254,251,252)}
._326{color:rgb(254,251,253)}
._327{color:rgb(254,251,254)}
._328{color:rgb(254,251,255)}
._329{color:rgb(254,252,252)}
._32a{color:rgb(254,252,253)}
._32b{color:rgb(254,252,254)}
._32c{color:rgb(254,253,251)}
._32d{color:rgb(254,253,252)}
._32e{color:rgb(254,253,253)}
._32f{color:rgb(254,253,254)}
._330{color:rgb(254,254,252)}
._331{color:rgb(254,254,254)}
._332{color:rgb(254,254,255)}
._333{color:rgb(255,249,254)}
._334{color:rgb(255,250,252)}
._335{color:rgb(255,254,255)}
._336{color:rgb(255,255,255)}
._337{color:rgb(26,27,34)}
._338{color:rgb(26,3,7)}
._339{color:rgb(26,30,39)}
._33a{color:rgb(26,32,41)}
._33b{color:rgb(26,33,35)}
._33c{color:rgb(26,34,45)}
._33d{color:rgb(26,35,44)}
._33e{color:rgb(26,35,45)}
._33f{color:rgb(26,4,10)}
._340{color:rgb(26,7,12)}
._341{color:rgb(27,3,6)}
._342{color:rgb(27,3,7)}
._343{color:rgb(27,30,39)}
._344{color:rgb(27,30,42)}
._345{color:rgb(27,31,43)}
._346{color:rgb(27,33,44)}
._347{color:rgb(27,34,42)}
._348{color:rgb(27,35,42)}
._349{color:rgb(27,4,6)}
._34a{color:rgb(27,4,7)}
._34b{color:rgb(27,41,49)}
._34c{color:rgb(27,41,52)}
._34d{color:rgb(27,5,7)}
._34e{color:rgb(27,5,8)}
._34f{color:rgb(27,9,13)}
._350{color:rgb(28,11,14)}
._351{color:rgb(28,15,20)}
._352{color:rgb(28,2,5)}
._353{color:rgb(28,2,7)}
._354{color:rgb(28,23,28)}
._355{color:rgb(28,37,45)}
._356{color:rgb(28,37,46)}
._357{color:rgb(28,40,49)}
._358{color:rgb(28,45,50)}
._359{color:rgb(28,5,7)}
._35a{color:rgb(29,0,4)}
._35b{color:rgb(29,2,5)}
._35c{color:rgb(29,2,7)}
._35d{color:rgb(29,3,6)}
._35e{color:rgb(29,32,40)}
._35f{color:rgb(29,34,41)}
._360{color:rgb(29,36,42)}
._361{color:rgb(29,38,48)}
._362{color:rgb(29,41,45)}
._363{color:rgb(3,0,0)}
._364{color:rgb(3,0,1)}
._365{color:rgb(3,0,3)}
._366{color:rgb(3,1,2)}
._367{color:rgb(3,1,4)}
._368{color:rgb(3,2,3)}
._369{color:rgb(3,3,3)}
._36a{color:rgb(3,3,4)}
._36b{color:rgb(3,4,6)}
._36c{color:rgb(3,4,8)}
._36d{color:rgb(3,4,9)}
._36e{color:rgb(3,5,11)}
._36f{color:rgb(3,5,3)}
._370{color:rgb(3,5,4)}
._371{color:rgb(3,5,7)}
._372{color:rgb(3,9,16)}
._373{color:rgb(30,2,5)}
._374{color:rgb(30,26,32)}
._375{color:rgb(30,36,37)}
._376{color:rgb(30,37,47)}
._377{color:rgb(30,38,41)}
._378{color:rgb(30,4,6)}
._379{color:rgb(30,40,50)}
._37a{color:rgb(30,8,11)}
._37b{color:rgb(31,0,1)}
._37c{color:rgb(31,3,5)}
._37d{color:rgb(31,3,7)}
._37e{color:rgb(31,37,48)}
._37f{color:rgb(31,39,44)}
._380{color:rgb(31,4,6)}
._381{color:rgb(31,4,9)}
._382{color:rgb(31,41,49)}
._383{color:rgb(31,41,50)}
._384{color:rgb(31,7,12)}
._385{color:rgb(32,0,3)}
._386{color:rgb(32,1,6)}
._387{color:rgb(32,3,8)}
._388{color:rgb(32,36,38)}
._389{color:rgb(32,36,45)}
._38a{color:rgb(32,37,43)}
._38b{color:rgb(32,37,46)}
._38c{color:rgb(32,4,8)}
._38d{color:rgb(33,11,17)}
._38e{color:rgb(33,38,50)}
._38f{color:rgb(33,4,9)}
._390{color:rgb(33,40,49)}
._391{color:rgb(33,40,51)}
._392{color:rgb(33,41,52)}
._393{color:rgb(33,7,8)}
._394{color:rgb(33,9,12)}
._395{color:rgb(34,0,2)}
._396{color:rgb(34,2,9)}
._397{color:rgb(34,22,24)}
._398{color:rgb(34,3,5)}
._399{color:rgb(34,3,8)}
._39a{color:rgb(34,38,50)}
._39b{color:rgb(34,4,6)}
._39c{color:rgb(34,40,50)}
._39d{color:rgb(34,41,47)}
._39e{color:rgb(34,42,47)}
._39f{color:rgb(34,43,53)}
._3a0{color:rgb(34,5,9)}
._3a1{color:rgb(34,6,9)}
._3a2{color:rgb(34,7,10)}
._3a3{color:rgb(35,17,22)}
._3a4{color:rgb(35,2,7)}
._3a5{color:rgb(35,38,46)}
._3a6{color:rgb(35,38,48)}
._3a7{color:rgb(35,4,11)}
._3a8{color:rgb(35,40,51)}
._3a9{color:rgb(35,41,48)}
._3aa{color:rgb(35,5,8)}
._3ab{color:rgb(35,8,12)}
._3ac{color:rgb(36,27,37)}
._3ad{color:rgb(36,3,10)}
._3ae{color:rgb(36,3,6)}
._3af{color:rgb(36,34,47)}
._3b0{color:rgb(36,38,48)}
._3b1{color:rgb(36,39,46)}
._3b2{color:rgb(36,4,7)}
._3b3{color:rgb(36,43,53)}
._3b4{color:rgb(36,43,54)}
._3b5{color:rgb(36,44,52)}
._3b6{color:rgb(36,45,53)}
._3b7{color:rgb(36,45,55)}
._3b8{color:rgb(36,48,56)}
._3b9{color:rgb(36,49,59)}
._3ba{color:rgb(36,5,10)}
._3bb{color:rgb(36,5,9)}
._3bc{color:rgb(36,50,56)}
._3bd{color:rgb(37,10,13)}
._3be{color:rgb(37,2,6)}
._3bf{color:rgb(37,42,54)}
._3c0{color:rgb(37,44,51)}
._3c1{color:rgb(37,44,54)}
._3c2{color:rgb(37,45,51)}
._3c3{color:rgb(37,46,54)}
._3c4{color:rgb(37,47,54)}
._3c5{color:rgb(37,47,56)}
._3c6{color:rgb(37,47,57)}
._3c7{color:rgb(37,49,57)}
._3c8{color:rgb(37,5,10)}
._3c9{color:rgb(37,5,9)}
._3ca{color:rgb(38,1,5)}
._3cb{color:rgb(38,2,4)}
._3cc{color:rgb(38,4,10)}
._3cd{color:rgb(38,46,58)}
._3ce{color:rgb(38,47,54)}
._3cf{color:rgb(38,47,56)}
._3d0{color:rgb(38,5,12)}
._3d1{color:rgb(38,5,8)}
._3d2{color:rgb(38,53,65)}
._3d3{color:rgb(38,7,12)}
._3d4{color:rgb(38,8,12)}
._3d5{color:rgb(39,15,19)}
._3d6{color:rgb(39,2,7)}
._3d7{color:rgb(39,24,35)}
._3d8{color:rgb(39,4,10)}
._3d9{color:rgb(39,41,52)}
._3da{color:rgb(39,43,47)}
._3db{color:rgb(39,47,58)}
._3dc{color:rgb(39,48,57)}
._3dd{color:rgb(39,49,60)}
._3de{color:rgb(39,5,9)}
._3df{color:rgb(4,0,1)}
._3e0{color:rgb(4,0,3)}
._3e1{color:rgb(4,0,4)}
._3e2{color:rgb(4,13,12)}
._3e3{color:rgb(4,2,3)}
._3e4{color:rgb(4,2,5)}
._3e5{color:rgb(4,4,4)}
._3e6{color:rgb(4,4,5)}
._3e7{color:rgb(4,4,6)}
._3e8{color:rgb(4,5,8)}
._3e9{color:rgb(4,6,10)}
._3ea{color:rgb(4,6,15)}
._3eb{color:rgb(4,6,5)}
._3ec{color:rgb(4,6,6)}
._3ed{color:rgb(4,8,14)}
._3ee{color:rgb(4,8,9)}
._3ef{color:rgb(4,9,15)}
._3f0{color:rgb(40,1,9)}
._3f1{color:rgb(40,11,12)}
._3f2{color:rgb(40,21,26)}
._3f3{color:rgb(40,40,40)}
._3f4{color:rgb(40,40,54)}
._3f5{color:rgb(40,48,58)}
._3f6{color:rgb(40,51,60)}
._3f7{color:rgb(40,53,61)}
._3f8{color:rgb(41,2,10)}
._3f9{color:rgb(41,3,8)}
._3fa{color:rgb(41,4,11)}
._3fb{color:rgb(41,41,41)}
._3fc{color:rgb(41,41,56)}
._3fd{color:rgb(41,44,56)}
._3fe{color:rgb(41,44,62)}
._3ff{color:rgb(41,45,56)}
._400{color:rgb(41,49,59)}
._401{color:rgb(41,49,60)}
._402{color:rgb(41,54,60)}
._403{color:rgb(41,8,9)}
._404{color:rgb(42,21,27)}
._405{color:rgb(42,29,35)}
._406{color:rgb(42,38,39)}
._407{color:rgb(42,4,8)}
._408{color:rgb(42,49,59)}
._409{color:rgb(42,54,64)}
._40a{color:rgb(42,57,63)}
._40b{color:rgb(42,59,65)}
._40c{color:rgb(42,6,11)}
._40d{color:rgb(42,8,9)}
._40e{color:rgb(43,15,20)}
._40f{color:rgb(43,3,11)}
._410{color:rgb(43,4,10)}
._411{color:rgb(44,11,17)}
._412{color:rgb(44,3,6)}
._413{color:rgb(44,3,9)}
._414{color:rgb(44,4,8)}
._415{color:rgb(44,49,55)}
._416{color:rgb(44,49,62)}
._417{color:rgb(44,5,9)}
._418{color:rgb(44,52,62)}
._419{color:rgb(44,53,61)}
._41a{color:rgb(44,54,63)}
._41b{color:rgb(44,6,10)}
._41c{color:rgb(44,6,12)}
._41d{color:rgb(45,11,17)}
._41e{color:rgb(45,22,30)}
._41f{color:rgb(45,28,35)}
._420{color:rgb(45,4,13)}
._421{color:rgb(45,40,46)}
._422{color:rgb(45,48,60)}
._423{color:rgb(45,5,10)}
._424{color:rgb(45,52,62)}
._425{color:rgb(45,52,63)}
._426{color:rgb(45,53,62)}
._427{color:rgb(45,54,63)}
._428{color:rgb(45,58,66)}
._429{color:rgb(45,8,13)}
._42a{color:rgb(46,15,19)}
._42b{color:rgb(46,3,9)}
._42c{color:rgb(46,4,7)}
._42d{color:rgb(46,51,62)}
._42e{color:rgb(46,52,58)}
._42f{color:rgb(46,53,62)}
._430{color:rgb(46,55,64)}
._431{color:rgb(47,15,22)}
._432{color:rgb(47,4,14)}
._433{color:rgb(47,44,43)}
._434{color:rgb(47,48,55)}
._435{color:rgb(47,5,11)}
._436{color:rgb(47,52,54)}
._437{color:rgb(47,52,57)}
._438{color:rgb(47,53,61)}
._439{color:rgb(47,55,66)}
._43a{color:rgb(47,59,65)}
._43b{color:rgb(47,6,11)}
._43c{color:rgb(48,13,21)}
._43d{color:rgb(48,4,11)}
._43e{color:rgb(48,45,50)}
._43f{color:rgb(48,50,49)}
._440{color:rgb(48,52,61)}
._441{color:rgb(48,52,67)}
._442{color:rgb(48,55,66)}
._443{color:rgb(48,56,67)}
._444{color:rgb(48,57,66)}
._445{color:rgb(48,58,67)}
._446{color:rgb(48,58,69)}
._447{color:rgb(48,9,16)}
._448{color:rgb(49,10,15)}
._449{color:rgb(49,36,45)}
._44a{color:rgb(49,41,47)}
._44b{color:rgb(49,57,68)}
._44c{color:rgb(49,63,72)}
._44d{color:rgb(5,0,0)}
._44e{color:rgb(5,1,0)}
._44f{color:rgb(5,1,2)}
._450{color:rgb(5,12,9)}
._451{color:rgb(5,3,1)}
._452{color:rgb(5,3,5)}
._453{color:rgb(5,4,4)}
._454{color:rgb(5,4,7)}
._455{color:rgb(5,5,5)}
._456{color:rgb(5,5,6)}
._457{color:rgb(5,5,7)}
._458{color:rgb(5,6,11)}
._459{color:rgb(5,7,14)}
._45a{color:rgb(5,7,6)}
._45b{color:rgb(5,9,10)}
._45c{color:rgb(5,9,15)}
._45d{color:rgb(5,9,16)}
._45e{color:rgb(50,47,57)}
._45f{color:rgb(50,5,14)}
._460{color:rgb(50,55,68)}
._461{color:rgb(50,56,66)}
._462{color:rgb(50,59,68)}
._463{color:rgb(50,6,13)}
._464{color:rgb(50,60,69)}
._465{color:rgb(50,60,70)}
._466{color:rgb(50,61,71)}
._467{color:rgb(50,61,72)}
._468{color:rgb(50,63,75)}
._469{color:rgb(50,7,12)}
._46a{color:rgb(50,8,12)}
._46b{color:rgb(51,1,8)}
._46c{color:rgb(51,12,25)}
._46d{color:rgb(51,4,11)}
._46e{color:rgb(51,51,59)}
._46f{color:rgb(51,59,71)}
._470{color:rgb(51,6,15)}
._471{color:rgb(51,66,70)}
._472{color:rgb(51,9,13)}
._473{color:rgb(52,24,31)}
._474{color:rgb(52,33,43)}
._475{color:rgb(52,34,39)}
._476{color:rgb(52,4,12)}
._477{color:rgb(52,55,57)}
._478{color:rgb(52,9,13)}
._479{color:rgb(53,18,23)}
._47a{color:rgb(53,5,13)}
._47b{color:rgb(53,6,15)}
._47c{color:rgb(53,62,71)}
._47d{color:rgb(53,7,15)}
._47e{color:rgb(53,8,13)}
._47f{color:rgb(53,8,15)}
._480{color:rgb(54,21,24)}
._481{color:rgb(54,5,11)}
._482{color:rgb(54,59,70)}
._483{color:rgb(54,61,69)}
._484{color:rgb(54,63,72)}
._485{color:rgb(54,64,76)}
._486{color:rgb(54,68,75)}
._487{color:rgb(54,7,12)}
._488{color:rgb(54,7,15)}
._489{color:rgb(55,12,17)}
._48a{color:rgb(55,12,21)}
._48b{color:rgb(55,13,26)}
._48c{color:rgb(55,16,21)}
._48d{color:rgb(55,3,14)}
._48e{color:rgb(55,37,43)}
._48f{color:rgb(55,44,52)}
._490{color:rgb(55,49,54)}
._491{color:rgb(55,59,69)}
._492{color:rgb(55,64,73)}
._493{color:rgb(55,67,76)}
._494{color:rgb(56,10,16)}
._495{color:rgb(56,10,17)}
._496{color:rgb(56,3,12)}
._497{color:rgb(56,57,62)}
._498{color:rgb(56,58,69)}
._499{color:rgb(56,6,15)}
._49a{color:rgb(56,61,65)}
._49b{color:rgb(56,62,74)}
._49c{color:rgb(56,64,75)}
._49d{color:rgb(56,9,17)}
._49e{color:rgb(57,10,17)}
._49f{color:rgb(57,17,28)}
._4a0{color:rgb(57,4,13)}
._4a1{color:rgb(57,66,75)}
._4a2{color:rgb(57,69,75)}
._4a3{color:rgb(57,7,16)}
._4a4{color:rgb(58,10,13)}
._4a5{color:rgb(58,3,13)}
._4a6{color:rgb(58,50,49)}
._4a7{color:rgb(58,52,64)}
._4a8{color:rgb(58,64,68)}
._4a9{color:rgb(58,64,78)}
._4aa{color:rgb(58,69,79)}
._4ab{color:rgb(58,7,16)}
._4ac{color:rgb(58,7,17)}
._4ad{color:rgb(58,70,78)}
._4ae{color:rgb(58,70,81)}
._4af{color:rgb(58,75,75)}
._4b0{color:rgb(58,8,17)}
._4b1{color:rgb(58,9,17)}
._4b2{color:rgb(59,10,17)}
._4b3{color:rgb(59,10,18)}
._4b4{color:rgb(59,11,19)}
._4b5{color:rgb(59,18,29)}
._4b6{color:rgb(59,2,8)}
._4b7{color:rgb(59,22,31)}
._4b8{color:rgb(59,3,15)}
._4b9{color:rgb(59,31,36)}
._4ba{color:rgb(59,63,72)}
._4bb{color:rgb(59,68,77)}
._4bc{color:rgb(59,8,18)}
._4bd{color:rgb(6,0,0)}
._4be{color:rgb(6,0,1)}
._4bf{color:rgb(6,0,2)}
._4c0{color:rgb(6,1,0)}
._4c1{color:rgb(6,1,1)}
._4c2{color:rgb(6,17,16)}
._4c3{color:rgb(6,2,3)}
._4c4{color:rgb(6,3,4)}
._4c5{color:rgb(6,4,3)}
._4c6{color:rgb(6,4,7)}
._4c7{color:rgb(6,5,14)}
._4c8{color:rgb(6,6,11)}
._4c9{color:rgb(6,7,7)}
._4ca{color:rgb(6,7,9)}
._4cb{color:rgb(6,8,11)}
._4cc{color:rgb(6,8,13)}
._4cd{color:rgb(6,8,7)}
._4ce{color:rgb(60,11,19)}
._4cf{color:rgb(60,63,74)}
._4d0{color:rgb(60,69,76)}
._4d1{color:rgb(60,69,78)}
._4d2{color:rgb(60,7,17)}
._4d3{color:rgb(61,10,17)}
._4d4{color:rgb(61,11,17)}
._4d5{color:rgb(61,14,20)}
._4d6{color:rgb(61,15,22)}
._4d7{color:rgb(61,44,52)}
._4d8{color:rgb(61,73,83)}
._4d9{color:rgb(61,79,87)}
._4da{color:rgb(61,8,18)}
._4db{color:rgb(61,9,18)}
._4dc{color:rgb(62,10,14)}
._4dd{color:rgb(62,11,16)}
._4de{color:rgb(62,12,16)}
._4df{color:rgb(62,12,17)}
._4e0{color:rgb(62,5,12)}
._4e1{color:rgb(62,65,73)}
._4e2{color:rgb(62,7,16)}
._4e3{color:rgb(62,70,81)}
._4e4{color:rgb(63,10,22)}
._4e5{color:rgb(63,72,81)}
._4e6{color:rgb(64,11,19)}
._4e7{color:rgb(64,14,19)}
._4e8{color:rgb(64,26,33)}
._4e9{color:rgb(64,3,16)}
._4ea{color:rgb(64,4,12)}
._4eb{color:rgb(64,72,79)}
._4ec{color:rgb(64,72,82)}
._4ed{color:rgb(64,76,87)}
._4ee{color:rgb(64,8,18)}
._4ef{color:rgb(65,10,17)}
._4f0{color:rgb(65,13,19)}
._4f1{color:rgb(65,26,37)}
._4f2{color:rgb(65,70,80)}
._4f3{color:rgb(65,72,80)}
._4f4{color:rgb(65,8,17)}
._4f5{color:rgb(65,8,19)}
._4f6{color:rgb(65,9,14)}
._4f7{color:rgb(66,35,43)}
._4f8{color:rgb(66,5,11)}
._4f9{color:rgb(66,7,19)}
._4fa{color:rgb(66,8,18)}
._4fb{color:rgb(66,9,19)}
._4fc{color:rgb(67,10,17)}
._4fd{color:rgb(67,13,20)}
._4fe{color:rgb(67,29,40)}
._4ff{color:rgb(67,7,19)}
._500{color:rgb(67,72,78)}
._501{color:rgb(67,75,86)}
._502{color:rgb(67,77,90)}
._503{color:rgb(67,8,20)}
._504{color:rgb(67,9,16)}
._505{color:rgb(68,11,20)}
._506{color:rgb(68,64,71)}
._507{color:rgb(68,76,87)}
._508{color:rgb(68,82,94)}
._509{color:rgb(69,12,21)}
._50a{color:rgb(69,14,17)}
._50b{color:rgb(69,48,52)}
._50c{color:rgb(7,0,1)}
._50d{color:rgb(7,1,1)}
._50e{color:rgb(7,10,11)}
._50f{color:rgb(7,10,17)}
._510{color:rgb(7,11,7)}
._511{color:rgb(7,13,13)}
._512{color:rgb(7,2,2)}
._513{color:rgb(7,2,7)}
._514{color:rgb(7,3,14)}
._515{color:rgb(7,6,10)}
._516{color:rgb(7,6,8)}
._517{color:rgb(7,7,16)}
._518{color:rgb(7,7,7)}
._519{color:rgb(7,8,10)}
._51a{color:rgb(7,8,12)}
._51b{color:rgb(7,9,13)}
._51c{color:rgb(7,9,21)}
._51d{color:rgb(7,9,8)}
._51e{color:rgb(70,12,19)}
._51f{color:rgb(70,13,22)}
._520{color:rgb(70,18,24)}
._521{color:rgb(70,24,35)}
._522{color:rgb(70,45,51)}
._523{color:rgb(70,7,20)}
._524{color:rgb(70,79,88)}
._525{color:rgb(71,11,21)}
._526{color:rgb(71,13,20)}
._527{color:rgb(71,20,27)}
._528{color:rgb(71,40,47)}
._529{color:rgb(71,46,46)}
._52a{color:rgb(72,12,22)}
._52b{color:rgb(72,13,21)}
._52c{color:rgb(72,13,23)}
._52d{color:rgb(72,14,20)}
._52e{color:rgb(72,16,22)}
._52f{color:rgb(72,16,24)}
._530{color:rgb(72,20,24)}
._531{color:rgb(72,24,35)}
._532{color:rgb(72,74,71)}
._533{color:rgb(72,74,82)}
._534{color:rgb(72,81,91)}
._535{color:rgb(73,11,22)}
._536{color:rgb(73,18,25)}
._537{color:rgb(73,19,25)}
._538{color:rgb(73,22,34)}
._539{color:rgb(73,34,42)}
._53a{color:rgb(73,47,58)}
._53b{color:rgb(73,7,13)}
._53c{color:rgb(73,78,90)}
._53d{color:rgb(73,81,91)}
._53e{color:rgb(73,85,95)}
._53f{color:rgb(73,9,20)}
._540{color:rgb(74,14,14)}
._541{color:rgb(74,17,25)}
._542{color:rgb(74,7,19)}
._543{color:rgb(74,81,88)}
._544{color:rgb(75,11,16)}
._545{color:rgb(75,11,22)}
._546{color:rgb(75,12,21)}
._547{color:rgb(75,17,25)}
._548{color:rgb(75,19,22)}
._549{color:rgb(75,7,20)}
._54a{color:rgb(76,24,33)}
._54b{color:rgb(76,57,66)}
._54c{color:rgb(76,8,19)}
._54d{color:rgb(76,8,20)}
._54e{color:rgb(76,85,94)}
._54f{color:rgb(77,18,26)}
._550{color:rgb(77,83,88)}
._551{color:rgb(77,83,95)}
._552{color:rgb(77,84,94)}
._553{color:rgb(77,86,95)}
._554{color:rgb(77,9,20)}
._555{color:rgb(78,10,23)}
._556{color:rgb(78,14,21)}
._557{color:rgb(78,14,26)}
._558{color:rgb(78,19,23)}
._559{color:rgb(78,19,27)}
._55a{color:rgb(78,22,29)}
._55b{color:rgb(78,7,20)}
._55c{color:rgb(78,85,96)}
._55d{color:rgb(79,13,23)}
._55e{color:rgb(79,14,24)}
._55f{color:rgb(79,19,27)}
._560{color:rgb(79,20,28)}
._561{color:rgb(79,86,91)}
._562{color:rgb(8,0,0)}
._563{color:rgb(8,0,1)}
._564{color:rgb(8,10,11)}
._565{color:rgb(8,10,12)}
._566{color:rgb(8,10,25)}
._567{color:rgb(8,10,9)}
._568{color:rgb(8,12,13)}
._569{color:rgb(8,12,18)}
._56a{color:rgb(8,13,25)}
._56b{color:rgb(8,14,19)}
._56c{color:rgb(8,17,14)}
._56d{color:rgb(8,2,0)}
._56e{color:rgb(8,2,2)}
._56f{color:rgb(8,4,7)}
._570{color:rgb(8,8,8)}
._571{color:rgb(8,9,11)}
._572{color:rgb(8,9,9)}
._573{color:rgb(80,10,20)}
._574{color:rgb(80,27,33)}
._575{color:rgb(80,34,44)}
._576{color:rgb(80,36,45)}
._577{color:rgb(81,10,23)}
._578{color:rgb(81,13,26)}
._579{color:rgb(81,15,26)}
._57a{color:rgb(81,2,17)}
._57b{color:rgb(81,29,39)}
._57c{color:rgb(82,3,20)}
._57d{color:rgb(82,38,48)}
._57e{color:rgb(83,32,37)}
._57f{color:rgb(83,84,91)}
._580{color:rgb(83,91,101)}
._581{color:rgb(84,101,111)}
._582{color:rgb(84,39,43)}
._583{color:rgb(84,61,71)}
._584{color:rgb(85,13,25)}
._585{color:rgb(85,29,39)}
._586{color:rgb(85,9,23)}
._587{color:rgb(85,99,108)}
._588{color:rgb(86,10,21)}
._589{color:rgb(86,13,26)}
._58a{color:rgb(86,15,24)}
._58b{color:rgb(86,16,29)}
._58c{color:rgb(86,21,33)}
._58d{color:rgb(86,27,35)}
._58e{color:rgb(86,7,21)}
._58f{color:rgb(87,11,25)}
._590{color:rgb(87,12,24)}
._591{color:rgb(87,20,29)}
._592{color:rgb(87,21,31)}
._593{color:rgb(87,67,79)}
._594{color:rgb(87,90,96)}
._595{color:rgb(87,91,100)}
._596{color:rgb(88,102,104)}
._597{color:rgb(88,11,24)}
._598{color:rgb(88,12,18)}
._599{color:rgb(88,14,16)}
._59a{color:rgb(88,15,27)}
._59b{color:rgb(88,17,29)}
._59c{color:rgb(88,24,32)}
._59d{color:rgb(88,24,43)}
._59e{color:rgb(88,25,33)}
._59f{color:rgb(88,26,34)}
._5a0{color:rgb(88,91,109)}
._5a1{color:rgb(89,11,25)}
._5a2{color:rgb(89,12,25)}
._5a3{color:rgb(89,21,28)}
._5a4{color:rgb(89,24,32)}
._5a5{color:rgb(89,35,43)}
._5a6{color:rgb(89,76,79)}
._5a7{color:rgb(89,90,95)}
._5a8{color:rgb(89,95,109)}
._5a9{color:rgb(9,0,1)}
._5aa{color:rgb(9,0,3)}
._5ab{color:rgb(9,1,2)}
._5ac{color:rgb(9,10,14)}
._5ad{color:rgb(9,10,17)}
._5ae{color:rgb(9,11,10)}
._5af{color:rgb(9,11,16)}
._5b0{color:rgb(9,11,24)}
._5b1{color:rgb(9,12,13)}
._5b2{color:rgb(9,12,19)}
._5b3{color:rgb(9,13,14)}
._5b4{color:rgb(9,14,17)}
._5b5{color:rgb(9,15,13)}
._5b6{color:rgb(9,15,21)}
._5b7{color:rgb(9,17,22)}
._5b8{color:rgb(9,17,27)}
._5b9{color:rgb(9,18,29)}
._5ba{color:rgb(9,2,4)}
._5bb{color:rgb(9,23,26)}
._5bc{color:rgb(9,24,26)}
._5bd{color:rgb(9,3,3)}
._5be{color:rgb(9,8,11)}
._5bf{color:rgb(9,8,15)}
._5c0{color:rgb(90,13,24)}
._5c1{color:rgb(90,17,28)}
._5c2{color:rgb(90,20,28)}
._5c3{color:rgb(90,20,31)}
._5c4{color:rgb(90,24,32)}
._5c5{color:rgb(91,100,107)}
._5c6{color:rgb(91,13,27)}
._5c7{color:rgb(91,17,30)}
._5c8{color:rgb(92,12,27)}
._5c9{color:rgb(92,14,30)}
._5ca{color:rgb(92,17,30)}
._5cb{color:rgb(92,19,16)}
._5cc{color:rgb(92,34,42)}
._5cd{color:rgb(93,14,28)}
._5ce{color:rgb(93,14,29)}
._5cf{color:rgb(93,20,34)}
._5d0{color:rgb(94,100,111)}
._5d1{color:rgb(94,11,26)}
._5d2{color:rgb(94,12,21)}
._5d3{color:rgb(94,13,30)}
._5d4{color:rgb(94,27,32)}
._5d5{color:rgb(94,29,35)}
._5d6{color:rgb(94,58,70)}
._5d7{color:rgb(94,88,89)}
._5d8{color:rgb(95,14,19)}
._5d9{color:rgb(95,20,24)}
._5da{color:rgb(95,95,102)}
._5db{color:rgb(96,17,27)}
._5dc{color:rgb(96,21,29)}
._5dd{color:rgb(96,29,32)}
._5de{color:rgb(96,9,18)}
._5df{color:rgb(97,102,118)}
._5e0{color:rgb(97,17,33)}
._5e1{color:rgb(97,21,34)}
._5e2{color:rgb(98,101,111)}
._5e3{color:rgb(98,104,110)}
._5e4{color:rgb(98,14,15)}
._5e5{color:rgb(98,26,38)}
._5e6{color:rgb(98,27,33)}
._5e7{color:rgb(99,17,28)}
._5e8{color:rgb(99,34,40)}
